html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-center {
}

.gallery {
    width: 1035px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    border: 2px groove #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: calc(1035px * 3); /* Ширина, базирана на броя снимки */
    animation: slide 110s infinite;
}

    .slides img {
        width: 1035px;
        height: 347px;
        flex-shrink: 0;
    }

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3105px); /* 3 снимки * 1035px */
    }
}
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 88px;
    height: 3px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
    .line img {
        scroll-snap-align: center; /* Центрира логото при телефони*/
        flex-shrink: 0; /*Логото не се свива при малък екран */
        width: 170px;
    }
        .line img:hover {
            filter: none;  /*Връща оригиналния цвят при посочване */
            transform: scale(1.05);  /*Увеличава логото при hover */
            transition: 0.3s;  /*Преход при hover */
        }
.firstLogo {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 50px;
}
.content {
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
}   
