@{
	ViewData["Title"] = "За нас";
}

<h1>За нас</h1>
<div class="formReason">
	<h4>&#x1F9F4;Cosmetics Perfect View</h4>
	<div class="reason">
		<p>
			Добре дошли в света на съвършенството и красотата!
			<br />
			Cosmetics Perfect View е ново име на българския пазар, създадено с една ясна мисия – да предложи висококачествена козметика и парфюми, които подчертават индивидуалната красота на всеки човек.
			<br />
			Вярваме, че грижата за себе си е не просто рутина, а личен ритуал – време за себе си, за увереност и хармония. Затова подбираме нашите продукти с внимание към състава, ефективността и усещането, което оставят.
		</p>
	</div>
</div>

<div class="formReason">
	<div class="reason">
		<h4>&#x2728; Продукти и цени</h4>
		<p>
			Да предоставим на клиентите си елегантно подбрана селекция от козметични продукти и парфюми, съчетаваща качество, достъпност и стил. Ние се стремим не просто да продаваме, а да вдъхновяваме – за красота отвътре и отвън.
		<p />
	</div>
</div>

<div class="formReason">
	<div class="reason">
		<h4>&#x1F4A1; Какво ни отличава?</h4>
		<p>
			Изцяло потребителски ориентиран подход
			<br />
			Продукти, подбрани с внимание към детайла
			<br />
			Индивидуално отношение и грижа за клиента
			<br />
			Постоянно разширяваща се гама от иновативни и доказани марки
		<p />
	</div>
</div>

<div class="formReason">
	<div class="reason">
		<h4> &#x1F680; Началото</h4>
		<p>
			Cosmetics Perfect View е стартирал с идеята да запълни липсата на висококачествени продукти на разумни цени в онлайн пространството. Макар да сме нови, сме водени от страстта към козметиката и стремежа да създадем място, на което клиентите се връщат с удоволствие.
		<p />
	</div>
</div>

<div class="formReason">
	<div class="reason">
		<h4>&#x1F4DE; Свържи се с нас
		</h4>
		<p>
			Искаш да научиш повече или имаш въпрос? Свържи се с нас чрез <a href="https://localhost:44326/Home/Contact">Контактната форма</a>, имейл info@CosmeticsPerfectView, телефон +359 24 928311 или ни последвай в социалните мрежи, за да бъдеш винаги в крак с новостите.
		<p />
	</div>
</div>
