
@{
    ViewData["Title"] = "Avene";
}

<div class="firstLogo">
	<img src="/img/Logo/aveneLogo.png" alt="Avene Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery4/AveneCleanance.png" />
		<img src="/img/Gallery4/AveneXeracalm.png" />
		<img src="/img/Gallery4/Cleanance.png" />
		<img src="/img/Gallery4/AveneCleanance.png" />
		<img src="/img/Gallery4/AveneXeracalm.png" />
		<img src="/img/Gallery4/Cleanance.png" />
	</div>
</div>

<div class="content">
	<h1>Avene</h1>
	<div class="contentText">
		<p>
			Марката Avène носи в себе си силата на термалната вода, извираща в Южна Франция. <br />

			Едноименните бани от година на година доказват на непрофесионалната и професионална общественост.<br />

			Avène елиминира затрудненията при атопичен дерматит, псориазис, изгаряния и алергични реакции на кожата.<br />
		</p>

	</div>
</div>

<h2>Препоръчани</h2>
<div class="formItems">
	<div class="items">
		<img src="/img/Avene/AveneCleanance.png" height="210" />
		<h3>Avene</h3>
		<p>Cleanance</p>
	</div>
	<div class="items">
		<img src="/img/Avene/AveneCleansingGel.png" height="210" />
		<h3>Avene</h3>
		<p>Cleanance Cleansing Gel</p>
	</div>
	<div class="items">
		<img src="/img/Avene/AveneCleananceComedomed.png" height="210" />
		<h3>Avene</h3>
		<p>Cleanance Comedomed</p>

	</div>
	<div class="items">
		<img src="/img/Avene/AveneLipid-ReplenishingBalm.png" height="210" />
		<h3>Avene</h3>
		<p>XeraCalm A.D. Lipid-Replenishing Cream</p>
	</div>
</div>

<div class="formItems">
	<div class="items">
		<img src="/img/Avene/AveneXeraCalm.png" height="210" />
		<h3>Avene</h3>
		<p>XeraCalm A.D. Ultra-Rich Cleansing Bar</p>
	</div>
	<div class="items">
		<img src="/img/Avene/AveneBody.png" height="210" />
		<h3>Avene</h3>
		<p>Body</p>
	</div>
	<div class="items">
		<img src="/img/Avene/AveneSunMineral.png" height="210" />
		<h3>Avene</h3>
		<p>Sun Mineral Fluid Tinted</p>

	</div>
	<div class="items">
		<img src="/img/Avene/AveneSunResistant.png" height="210" />
		<h3>Avene</h3>
		<p>Sun Resistant Family Spray</p>
	</div>
</div>



