
@{
    ViewData["Title"] = "Avene";
}

<div class="firstLogo">
	<img src="/img/Logo/aveneLogo.png" alt="Avene Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery4/AveneCleanance.png" />
		<img src="/img/Gallery4/AveneXeracalm.png" />
		<img src="/img/Gallery4/Cleanance.png" />
		<img src="/img/Gallery4/AveneCleanance.png" />
		<img src="/img/Gallery4/AveneXeracalm.png" />
		<img src="/img/Gallery4/Cleanance.png" />
	</div>
</div>

<div class="content">
	<h1>Avene</h1>
	<div class="contentText">
		<p>
			Марката Avène носи в себе си силата на термалната вода, извираща в Южна Франция. <br />

			Едноименните бани от година на година доказват на непрофесионалната и професионална общественост.<br />

			Avène елиминира затрудненията при атопичен дерматит, псориазис, изгаряния и алергични реакции на кожата.<br />
		</p>

	</div>
</div>

