
@{
    ViewData["Title"] = "Begin";
}


<div class="text-center">

	<h2>Нови продукти</h2>
	<div class="formItems">
		<div class="items">
			<img src="/img/" height="210" />
			<h3></h3>
			<p></p>
		</div>
		<div class="items">
			<img src="/img/" height="210" />
			<h3></h3>
			<p></p>
		</div>
		<div class="items">
			<img src="/img/" height="210" />
			<h3></h3>
			<p></p>

		</div>
		<div class="items">
			<img src="/img/" height="210" />
			<h3></h3>
			<p></p>
		</div>
	</div>
</div>
