
@{
    ViewData["Title"] = "Begin";
}

<style>
	.formReason {
		font-family: 'Vollkorn', serif;
		font-size:23px;
	}

	.reason {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<div class="formReason">
	<div class="reason">
		<p>
			Ние от Cosmetics Perfect View вярваме, че красотата трябва да бъде достъпна за всеки, защото красотата има силата да вдъхва увереност и да преобразява хората.
			Когато хората се чувстват красиви, им е по-лесно да постигнат целите си и да направят света около себе си по-красив.
		</p>
		<img src="/img/CosmeticsPerfectView.png" height="320" width="500" />
	</div>
</div>

<div class="text-center">

	<h2>Нови продукти</h2>
	<div class="formItems">
		<div class="items">
			<a href="https://localhost:44326/Products/Details/55">
				<img src="/img/New/SemiDiLinoStyle&Care.png" height="210" />
				<h3>Alfaparf Milano</h3>
				<p>Semi di Lino Style&Care Thermal Protector</p>
			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/54">
				<img src="/img/New/FaBOWlous.png" height="210" />
				<h3>essence</h3>
				<p>FaBOWlous</p>
			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/53">
				<img src="/img/New/Teriaq.png" height="210" />
				<h3>Lattafa</h3>
				<p>Teriaq</p>

			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/52">
				<img src="/img/New/KertyolP.S.O.png" height="210" />
				<h3>Ducray</h3>
				<p>Kertyol P.S.O.</p>
			</a>
		</div>
	</div>
</div>

<div class="text-center">

	<h2>Най-продавани</h2>
	<div class="formItems">
		<div class="items">
			<a href="https://localhost:44326/Products/Details/56">
				<img src="/img/Trending/DoubleWear.png" height="210" />
				<h3>Estée Lauder</h3>
				<p>Double Wear Stay-in-Place</p>
			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/57">
				<img src="/img/Trending/LockedKissInk24HR.png" height="210" />
				<h3>MAC Cosmetics</h3>
				<p>Locked Kiss Ink 24HR Lipcolour</p>
			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/58">
				<img src="/img/Trending/TheFaceGluePrimer.png" height="210" />
				<h3>NYX Professional Makeup</h3>
				<p>The Face Glue Primer</p>
			</a>
		</div>
		<div class="items">
			<a href="https://localhost:44326/Products/Details/59">
				<img src="/img/Trending/BahamaMamaTravelSize.png" height="210" />
				<h3>theBalm</h3>
				<p>Bahama Mama Travel Size</p>
			</a>
		</div>
	</div>
</div>

