
@{
    ViewData["Title"] = "Dior";
}
<div class="diorLogo">
    <img src="/img/Logo/diorLogo.png" alt="Dior Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery2/DiorJadore.png" />
		<img src="/img/Gallery2/DiorSauvage.png" />
		<img src="/img/Gallery2/DiorLipGlow.png" />
		<img src="/img/Gallery2/DiorJadore.png" />
		<img src="/img/Gallery2/DiorSauvage.png" />
		<img src="/img/Gallery2/DiorLipGlow.png" />
	</div>
</div>

<div class="content">
	<h1>Dior</h1>
	<div class="contentText"
		<p>
			DIOR е роден от една мечта.
		</p>
		<p>
			Мечтата на човек, който променя коренно модата и красотата с вечни творения, превърнали се в икони.
		</p>
		<p>
			Всяко от творенията на модната къща носи частица от мечтата му за един по-щастлив и красив свят.
		</p>
	</div>
</div>

