
@{
    ViewData["Title"] = "Dior";
}
<style>

</style>

<div class="firstLogo">
    <img src="/img/Logo/diorLogo.png" alt="Dior Logo" />
</div>

<div class="gallery">
    <div class="slides">
        <img src="/img/Gallery2/DiorJadore.png" />
        <img src="/img/Gallery2/DiorSauvage.png" />
        <img src="/img/Gallery2/DiorLipGlow.png" />
        <img src="/img/Gallery2/DiorJadore.png" />
        <img src="/img/Gallery2/DiorSauvage.png" />
        <img src="/img/Gallery2/DiorLipGlow.png" />
    </div>
</div>

<div class="content">
    <h1>Dior</h1>
    <div class="contentText">
        <p>
            DIOR е роден от една мечта.<br />

            Мечтата на човек, който променя коренно модата и красотата с вечни творения, превърнали се в икони.<br />

            Всяко от творенията на модната къща носи частица от мечтата му за един по-щастлив и красив свят.<br />
        </p>

    </div>
</div>
<h2>Препоръчани</h2>
<div class="formItems">
    <div class="items">
       <a href="https://localhost:44326/Products/Details/6">
            <img src="/img/Dior/jadore.png" height="210" />
            <h3>DIOR</h3>
            <p>J'adore L'Or</p>
        </a>
        
    </div>
   <div class="items">
        <img src="/img/Dior/miss.png" height="210"/>
        <h3> DIOR</h3>
        <p>Miss Dior</p>
    </div>
    <div class="items">
        <img src="/img/Dior/homme.png" height="210"/>
        <h3> DIOR</h3>
        <p>Homme</p>
        
    </div>
    <div class="items">
        <img src="/img/Dior/sauvage.png" height="210"  />
        <h3> DIOR</h3>
        <p>Sauvage</p>
    </div> 
</div>

<div class="formItems">
    <div class="items">
        <img src="/img/Dior/addictLip.png" height="210" />
        <h3>DIOR</h3>
        <p>Addict Lip Glow</p>
    </div>
    <div class="items">
        <img src="/img/Dior/rouge.png" height="210" />
        <h3> DIOR</h3>
        <p>Rouge</p>
    </div>
    <div class="items">
        <img src="/img/Dior/LipGlowOil.png" height="210" />
        <h3> DIOR</h3>
        <p>Addict Lip Glow Oil</p>

    </div>
    <div class="items">
        <img src="/img/Dior/LipMaximizer.png" height="210" />
        <h3> DIOR</h3>
        <p>Addict Lip Maximizer</p>
    </div>
</div>