@{
	ViewData["Title"] = "Начало";
}

<div class="text-center">
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery1/slaid1.png" />
		<img src="/img/Gallery1/slaid2.png" />
		<img src="/img/Gallery1/slaid3.png" />
		<img src="/img/Gallery1/slaid1.png" />
		<img src="/img/Gallery1/slaid2.png" />
		<img src="/img/Gallery1/slaid3.png" />
	</div>
</div>

<div class="line">
	<a asp-controller="Home" asp-action="Dior">
		<img src="/img/Logo/diorLogo.png" alt="Dior Logo" />
	</a>
	<a asp-controller ="Home" asp-action="YSL">
		<img src="/img/Logo/YSLlogo.png" alt="Yves Saint Laurent Logo" />
	</a>
	<a asp-controller ="Home" asp-action="Avene">
		<img src="/img/Logo/aveneLogo.png" alt="Avene Logo" />
	</a>
	<a asp-controller="Home" asp-action="SDJ">
		<img src="/img/Logo/SolDeJaneiro.png" alt="Sol De Janeiro Logo" />
	</a>
	<a asp-controller ="Home" asp-action="Kerastase">
		<img src="/img/Logo/kerastaseLogo.png" alt="Kerastase Logo" />
	</a>
</div>

<div class="bestSellers">

</div>
