@{
	ViewData["Title"] = "Начало";
}

<div class="text-center">
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/slaid1.png" />
		<img src="/img/slaid2.png" />
		<img src="/img/slaid3.png" />
		<img src="/img/slaid1.png" />
		<img src="/img/slaid2.png" />
		<img src="/img/slaid3.png" />
	</div>
</div>

<div class="line">
	<img src="/img/diorLogo.png" />
	<img src="/img/YSLlogo.png" />
	<img src="/img/aveneLogo.png" />
	<img src="/img/SolDeJaneiro.png" />
	<img src="/img/kerastaseLogo.png" />
</div>