
@{
    ViewData["Title"] = "Kerastase";
}

<div class="firstLogo">
	<img src="/img/Logo/kerastaseLogo.png" alt="Kerastase Logo" height="65px" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery6/FkKerastase.png" />
		<img src="/img/Gallery6/KerastaseOil.png" />
		<img src="/img/Gallery6/KerastasePremiere.png" />
		<img src="/img/Gallery6/FkKerastase.png" />
		<img src="/img/Gallery6/KerastaseOil.png" />
		<img src="/img/Gallery6/KerastasePremiere.png" />
	</div>
</div>

<div class="content">
	<h1>Kerastase</h1>
	<div class="contentText">
		<p>
			За да бъде вашата коса също така неповторима като вас самите.<br />

			Тя заслужава специална грижа, създадена по мярка.<br />

			Козметиката Kérastase комбинира професионалния опит на най-добрите фризьори по света с опита на най-прогресивните научни екипи.<br />
		</p>

	</div>
</div>

