
@{
    ViewData["Title"] = "Kerastase";
}

<div class="firstLogo">
	<img src="/img/Logo/kerastaseLogo.png" alt="Kerastase Logo" height="65px" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery6/FkKerastase.png" />
		<img src="/img/Gallery6/KerastaseOil.png" />
		<img src="/img/Gallery6/KerastasePremiere.png" />
		<img src="/img/Gallery6/FkKerastase.png" />
		<img src="/img/Gallery6/KerastaseOil.png" />
		<img src="/img/Gallery6/KerastasePremiere.png" />
	</div>
</div>

<div class="content">
	<h1>Kerastase</h1>
	<div class="contentText">
		<p>
			За да бъде вашата коса също така неповторима като вас самите.<br />

			Тя заслужава специална грижа, създадена по мярка.<br />

			Козметиката Kérastase комбинира професионалния опит на най-добрите фризьори по света с опита на най-прогресивните научни екипи.<br />
		</p>

	</div>
</div>

<h2>Препоръчани</h2>
<div class="formItems">
	<div class="items">
		<a href="https://localhost:44326/Products/Details/42">
			<img src="/img/Kerastase/Première.png" height="210" />
			<h3>Kerastase</h3>
			<p>Première</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/43">
			<img src="/img/Kerastase/ChronologisteLhuileDeParfum.png" height="210" />
			<h3>Kerastase</h3>
			<p>Chronologiste L'huile de Parfum</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/44">
			<img src="/img/Kerastase/londAbsoluLhuileCicagloss.png" height="210" />
			<h3>Kerastase</h3>
			<p>lond Absolu L'huile Cicagloss</p>
		</a>

	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/45">
			<img src="/img/Kerastase/ElixirUltimeLhuileOriginale.png" height="210" />
			<h3>Kerastase</h3>
			<p>Elixir Ultime L'huile Originale</p>
		</a>
	</div>
</div>

<div class="formItems">
	<div class="items">
		<a href="https://localhost:44326/Products/Details/47">
			<img src="/img/Kerastase/PremièreConcentré.png" height="210" />
			<h3>Kerastase</h3>
			<p>Première Concentré Décalcifiant Ultra-Réparateur</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/48">
			<img src="/img/Kerastase/PremièreBain.png" height="210" />
			<h3>Kerastase</h3>
			<p>Première Bain Décalcifiant Réparateur</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/49">
			<img src="/img/Kerastase/PremièreFondant.png" height="210" />
			<h3>Kerastase</h3>
			<p>Première Fondant Fluidité Réparateur</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/50">
			<img src="/img/Kerastase/PremièreBain.png" height="210" />
			<h3>Kerastase</h3>
			<p>Première Masque Filler Réparateur</p>
		</a>
	</div>
</div>

