
@{
	ViewData["Title"] = "Sol De Janeiro";
}

<div class="firstLogo">
	<img src="/img/Logo/SolDeJaneiro.png" alt="Sol De Janeiro Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery5/Sdj.png" />
		<img src="/img/Gallery5/SdjBrandbannerEvergreen.png" />
		<img src="/img/Gallery5/SdjSPF.png" />
		<img src="/img/Gallery5/Sdj.png" />
		<img src="/img/Gallery5/SdjBrandbannerEvergreen.png" />
		<img src="/img/Gallery5/SdjSPF.png" />
	</div>
</div>

<div class="content">
	<h1>Sol De Janeiro</h1>
	<div class="contentText">
		<p>
			Обичайте и се гордейте с това, което имате.  <br />

			Едноименните бани от година на година доказват на непрофесионалната и професионална общественост.Става въпрос за красивото тяло и за това какво е виждането на бразилската култура за него. <br />

			Пионерската американска марка Sol de Janeiro е вдъхновена именно от това позитивно възприятие за тялото и ритуалите за красота на плажовете в Рио. <br />
		</p>

	</div>
</div>

<h2>Препоръчани</h2>
<div class="formItems">
	<div class="items">
		<a href="https://localhost:44326/Products/Details/34">
			<img src="/img/SolDeJaneiro/RioRadiance.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Rio Radiance</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/36">
			<img src="/img/SolDeJaneiro/RioRadianceLosion.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Rio Radiance</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/37">
			<img src="/img/SolDeJaneiro/RioRadianceOil.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Rio Radiance</p>
		</a>

	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/38">
			<img src="/img/SolDeJaneiro/BrazilianCrushCheirosa.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Brazilian Crush Cheirosa '62</p>
		</a>
	</div>
</div>

<div class="formItems">
	<div class="items">
		<a href="https://localhost:44326/Products/Details/51">
			<img src="/img/SolDeJaneiro/BrazilianBumBum.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Brazilian Bum Bum Cream</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/39">
			<img src="/img/SolDeJaneiro/BrazilianBum.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Brazilian Bum Bum Jet Set</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/40">
			<img src="/img/SolDeJaneiro/BomDia.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Bom Dia Jet Set</p>
		</a>
	</div>
	<div class="items">
		<a href="https://localhost:44326/Products/Details/41">
			<img src="/img/SolDeJaneiro/BeijaFlor.png" height="210" />
			<h3>Sol De Janeiro</h3>
			<p>Beija Flor Jet Set</p>
		</a>
	</div>
</div>