
@{
	ViewData["Title"] = "Sol De Janeiro";
}

<div class="firstLogo">
	<img src="/img/Logo/SolDeJaneiro.png" alt="Sol De Janeiro Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery5/Sdj.png" />
		<img src="/img/Gallery5/SdjBrandbannerEvergreen.png" />
		<img src="/img/Gallery5/SdjSPF.png" />
		<img src="/img/Gallery5/Sdj.png" />
		<img src="/img/Gallery5/SdjBrandbannerEvergreen.png" />
		<img src="/img/Gallery5/SdjSPF.png" />
	</div>
</div>

<div class="content">
	<h1>Sol De Janeiro</h1>
	<div class="contentText">
		<p>
			Обичайте и се гордейте с това, което имате.  <br />

			Едноименните бани от година на година доказват на непрофесионалната и професионална общественост.Става въпрос за красивото тяло и за това какво е виждането на бразилската култура за него. <br />

			Пионерската американска марка Sol de Janeiro е вдъхновена именно от това позитивно възприятие за тялото и ритуалите за красота на плажовете в Рио. <br />
		</p>

	</div>
</div>