@{
	ViewData["Title"] = "Yves Saint Laurent";
}
<style>
	.items
	{
		margin-left: 60px;
	}
</style>
<div class="firstLogo">
	<img src="/img/Logo/YSLlogo.png" alt="Yves Saint Laurent Logo" />
</div>

<div class="gallery">
	<div class="slides">
		<img src="/img/Gallery3/YslBlackOpium.png" />
		<img src="/img/Gallery3/YslY.png" />
		<img src="/img/Gallery3/YslLashClash.png" />
		<img src="/img/Gallery3/YslBlackOpium.png" />
		<img src="/img/Gallery3/YslY.png" />
		<img src="/img/Gallery3/YslLashClash.png" />
	</div>
</div>

<div class="content">
	<h1>Yves Saint Laurent</h1>
	<div class="contentText">
		<p>
			Yves Saint Laurent е символ на уникалност, креативност и лукс.<br />

			Известна е не само в света на модата, но и в областта на козметиката и парфюмите.<br />

			Открийте ексклузивния свят, зад който стои един от най-влиятелните модни дизайнери.<br />
		</p>

	</div>
</div>

<h2>Препоръчани</h2>
<div class="formItems">
	<div class="items">
		<img src="/img/YSL/YSLlibreIntense.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Libre Intense</p>
	</div>
	<div class="items">
		<img src="/img/YSL/YSLblacOpium.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Black Opium</p>
	</div>
	<div class="items">
		<img src="/img/YSL/MYSLFysl.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>MYSLF</p>

	</div>
	<div class="items">
		<img src="/img/YSL/YslY.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Y</p>
	</div>
</div>

<div class="formItems">
	<div class="items">
		<img src="/img/YSL/YSLloveshineLipstick.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Loveshine Lipstick</p>
	</div>
	<div class="items">
		<img src="/img/YSL/YslClashExtreme.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Lash Clash Extreme Volume</p>
	</div>
	<div class="items">
		<img src="/img/YSL/YslBlushBold.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>Make Me Blush Bold Blurring</p>

	</div>
	<div class="items">
		<img src="/img/YSL/YslHyperBlur.png" height="210" />
		<h3>Yves Saint Laurent</h3>
		<p>All Hours Hyper Blur Loose Powder</p>
	</div>
</div>

